@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300&display=swap');

* {
    font-family: Noto Serif Telugu, sans-serif;
}

.articles-container{
    border: 3px #0082e6 solid;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(173, 216, 230, .3);
    padding-top: 6px;
}

.articles-options{
    border-bottom: 2px #0082e6 solid;
    width: 98%;
    margin: auto;
}

.add-btn{
    margin: 6px 0 5px 0;
    padding: 0 5px 0 5px;
    background-color: rgba(173, 216, 230, 1);
    border: 2px rgb(0, 130, 230) solid;
    border-radius: 5px;
    height: 25px;
    color: black;
    font-weight: bold;
    float: right;
    transition: 0.7s;
    cursor: pointer;
}

.add-btn:hover{
    background-color: rgba(0, 130, 230, 1);
    color: white;
}

.articles-container table, td, th{
    border-collapse: collapse;
    border: 2px rgba(0, 130, 230, 1) solid;
    margin: 10px auto 10px auto;
    width: 30%;
    background-color: rgba(83, 162, 223, .2);
}

.grid-article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.article-column{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 90%;
}

.article-column > label {
    margin: 15px 0 5px;
}

.article-column > .suppliers {
    margin-bottom: 10px;
    border: 1px rgba(0, 130, 230, .7) solid;
    background-color: #fff;
    padding: 5px 0 5px 0;
}

.article-column > input {
    border: 1px rgba(0, 130, 230, .7) solid;
    padding: 5px 0 5px 0;
}

.categories{
    border: 1px rgba(0, 130, 230, .7) solid;
}

.article-column > .add-btn {
    margin: auto;
    width: 50%;
}